<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.admin">
	<select id="checkAdminId" resultType="int">
		select count(*) from admin
		where admin_code = #{admin_code}
	</select>
	
	<select id="getAllAdminCode" resultType="string">
	select admin_code from admin
	</select>
</mapper>