<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.complain">

	<insert id="insertComplain">
	insert into complain
		(complain_seq, admin_code, m_id, complain_content, complain_classification)
	values
		(seq_complain.nextval, #{admin_code}, #{m_id}, #{complain_content}, #{complain_classification})
	</insert>
	
	<select id="getFinishListById" resultType="Map">
	select c.*, a.admin_work
	from complain c, admin a
	where m_id = #{m_id}
	and c.admin_code = a.admin_code
	and complain_is_finish = 'Y'
	order by complain_regdate
	</select>
	
	<select id="getNotFinishListById" resultType="ComplainVo">
	select * from complain
	where m_id = #{m_id}
	and complain_is_finish = 'N'
	order by complain_regdate
	</select>
	
	<select id="getAllNotFinishList" resultType="ComplainVo">
	select * from complain
	where complain_is_finish = 'N' 
	and 
	admin_code=#{admin_code}
	<include refid="search"></include>
	order by complain_regdate
	</select>
	
	<select id="getNotFinishCount" resultType="int">
	select count(*) from complain
	where complain_is_finish = 'N' and admin_code=#{admin_code}
	</select>
	
	<select id="getAllNotFinishListNoCode" resultType="ComplainVo">
	select * from complain
	where complain_is_finish = 'N' 
	<include refid="search"></include>
	order by complain_regdate
	</select>
	
	<select id="getNotFinishCountNoCode" resultType="int">
	select count(*) from complain
	where complain_is_finish = 'N' 
	
	</select>
	
	<update id="updateComplain">
	update complain set
	complain_is_finish = 'Y',
	complain_answer=#{complain_answer},
	complain_answer_date =#{complain_answer_date}
	where complain_seq=#{complain_seq}
	</update>
	
	<select id="getAllFinishList" resultType="ComplainVo">
	select * from complain where complain_is_finish ='Y'
	<include refid="search"></include>
	</select>
	
	<select id="getAllFinishListByCode" resultType="ComplainVo">
	select * from complain 
	where complain_is_finish ='Y'
	and
	admin_code=#{admin_code}
	<include refid="search"></include>
	</select>
	
	
	<sql id="search">
	<if test = "searchType != null and keyword != null">
			<choose>
				<when test='searchType == "i"'>
					and m_id like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
</mapper>