<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.event">
	<select id="getEventList" resultType="EventVo">
		select * from event order by event_is_finish desc, event_seq desc
	</select>

	<insert id="insertEvent">
		insert into event
		(event_seq, event_name, 
		 event_content,event_is_finish,
		event_img,event_max_count,event_point)
		values
		(seq_event.nextval, #{event_name}, 
		 #{event_content}, #{event_is_finish},
		#{event_img, jdbcType=VARCHAR}, #{event_max_count}, #{event_point})
	</insert>
	
	<update id="updateEvent">
		update event set
		event_name=#{event_name},
		event_content=#{event_content},
		event_is_finish=#{event_is_finish},
		event_enddate=#{event_enddate, jdbcType=VARCHAR},
		event_img=#{event_img, jdbcType=VARCHAR},
		event_max_count=#{event_max_count},
		event_point=#{event_point}
		where event_seq=#{event_seq}
	</update>
	
	<delete id="deleteEvent">
		delete from event
		where event_seq=#{event_seq}
	</delete>
	
	<select id="isEndEventList" resultType="EventVo">
	select * from event where event_is_finish=#{event_is_finish} 
	</select>
	
	<select id="getEventByEseq" resultType="EventVo">
	select * from event where event_seq=#{event_seq}
	</select>
	
	<select id="getCountEvent" resultType="int">
		select count(*) from event
	</select>
	
	<select id="getEventMainList" resultType="EventVo">
		select * from
			(select rownum rnum, a.* from
				(select * from event 
				order by event_is_finish asc, event_seq desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<update id="updateEventFinish">
		update event set event_is_finish = 'Y'
		where event_seq=#{event_seq}
	</update>
</mapper>