<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.event">
	
	<select id="getEventList" resultType="EventVo">
		select * from event 
	<include refid="search"></include>
		order by event_is_finish desc, event_seq desc
	</select>

	<insert id="insertEvent" parameterType="EventVo">
	<selectKey keyProperty="event_seq" resultType="int" order="BEFORE">
	select seq_event.nextVal from dual
	</selectKey>
		insert into event
		(event_seq, event_name, 
		 event_content,event_img,
		event_max_count,point_code)
		values
		(#{event_seq}, #{event_name}, 
		 #{event_content},#{event_img, jdbcType=VARCHAR},
		#{event_max_count}, #{point_code})
	</insert>
	
	<update id="updateEvent">
		update event set
		event_name=#{event_name},
		event_content=#{event_content},
		event_is_finish=#{event_is_finish},
		event_enddate=#{event_enddate, jdbcType=VARCHAR},
		event_img=#{event_img, jdbcType=VARCHAR},
		event_max_count=#{event_max_count},
		event_point=#{event_point}
		where event_seq=#{event_seq}
	</update>
	
	<delete id="deleteEvent">
		delete from event
		where event_seq=#{event_seq}
	</delete>
	
	<select id="isEndEventList" resultType="EventVo">
	select * from event where event_is_finish=#{event_is_finish} 
	</select>
	
	<select id="getEventByEseq" resultType="EventVo">
	select * from event where event_seq=#{event_seq}
	</select>
	
	<select id="getCountEvent" resultType="int">
		select count(*) from event
	</select>
	
	<select id="getEventMainList" resultType="EventVo">
		select * from
			(select rownum rnum, a.* from
				(select * from event 
				order by event_is_finish asc, event_seq desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<update id="updateEventFinish">
		update event set event_is_finish = 'Y'
		where event_seq=#{event_seq}
	</update>
	
	<select id="getContent" resultType="string">
	select event_content from event where event_seq= #{event_seq}
	</select>
	
	<select id="createTableEvnet" parameterType="HashMap">
	${createTableStr}
	</select>
	
	<select id="createSeqParticipation" parameterType="HashMap">
	${createSeqStr}
	</select>
	
	<insert id="insertParticipation">
	insert into event_participation_event_seq${event_seq} 
	(ep_seq, m_id, event_seq)
	values(
	seq_event_participation${event_seq}.nextval,
	#{m_id},
	#{event_seq}
	)
	</insert>
	
	<update id="updateParticipation">
	update event_participation_event_seq${event_seq} set
	ep_is_winner = 'Y'
	where m_id=#{m_id}
	</update>
	
	<select id="getListParticipationByEventSeq" resultType="EventParticipationVo">
	select * from event_participation_event_seq${event_seq}
	</select>
	
	<select id="getMaxNoFinishEventSeq" resultType="int">
	select event_seq from
(select rownum rnum, a.* from 
(select * from event where event_is_finish ='N' order by event_seq desc ) a)
where rnum =1
	</select>
	
	<!-- 이벤트 시퀀스로 이벤트 네임과 참가 테이블 조인 -->
	<select id="getJoinEventData" resultType="map">
	select m.m_name, e.*, ep${event_seq}.*
from event e, event_participation_event_seq${event_seq} ep${event_seq}
,member m
where e.event_seq=ep${event_seq}.event_seq
	and m.m_id=ep${event_seq}.m_id
	order by ep${event_seq}.ep_is_winner desc
	</select>
	
	<select id="selectAllEventList" resultType="int">
	select event_seq from event order by event_seq desc 
	</select>
	<!-- 유저이름 가져오기 -->
	<select id="" resultType="map">
	select m.m_name, m.m_id
from member m, event_participation_event_seq${event_seq} ep${event_seq}
where m.m_id=ep${event_seq}.m_id
	
	</select>
	
	<select id="selectEndEventList" resultType="EventVo">
	select event_is_bylot,event_seq from event 
	where event_is_finish= 'Y'
	order by event_seq desc 
	</select>
	
	<select id="selectLiveEventList" resultType="int">
	select event_seq from event 
	where event_is_finish= 'N'
	order by event_seq desc 
	</select>
	
	<select id="selectEventMaxCount" resultType="int">
	select event_max_count from event
	where event_seq=#{event_seq}
	</select>
	<!-- 이벤트 당첨에 따른 변화  -->
	<update id="updateIsLot">
	update event set event_is_bylot = 'Y'
	where event_seq=#{event_seq}
	</update>
	
	<update id="updateEventWinnerToParticipation">
	update event_participation_event_seq${event_seq} 
	set ep_is_winner = 'Y'
	where m_id=#{m_id}
	</update>
	
	<update id="updateEventWinnerPoint">
	update member set m_point=
		(select pc_point from point_code where pc_code=#{pc_code})
	where m_id=#{m_id}
	</update>
	
	<insert id="insertEventWinnerPointHistory">
	insert into point_history
	(p_seq, m_id, pc_code)
	values
	(seq_point_history.nextval, #{m_id}, #{pc_code})
	</insert>
	
	<insert id="insertEventWinnerTable">
	insert into event_winner
	(e_winner_seq,m_id,event_seq)
	values
	(seq_event_winner.nextval,#{m_id},#{event_seq})
	</insert>
	
	<select id="selectWinnerIsGet" resultType="EventWinnerVo">
	select m_id,e_winner_is_get
	from event_winner
	where event_seq=#{event_seq}
	</select>
	
	<!-- event Winner 경품 미수령 -->
	<select id="selectCountWinnerNoGet" resultType="int">
	select count(*) from event_winner
	where e_winner_is_get ='N'
	</select>
	<sql id="search">
	<if test = "searchType != null">
			<choose>
				<when test='searchType == "i"'>
					where event_name like '%' || #{keyword,jdbcType=VARCHAR} || '%'
				</when>
				
			</choose>
		</if>
	</sql>
</mapper>