<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.team.mappers.evl">
	
	<insert id="insertDriverEvl">
	insert into driver_evl
	(de_seq, de_drive_count, m_id, g_code)
	values
	(seq_driver_evl.nextval, #{de_drive_count, jdbcType = INTEGER}, #{m_id, jdbcType = VARCHAR}, #{g_code, jdbcType = VARCHAR})
	</insert>
	
	<insert id="insertPassengerEvl">
	insert into passenger_evl (pe_seq, m_id)
		values (seq_passenger_evl.nextval, #{m_id})
	</insert>
	
	<select id="selectEvlCodeList" resultType="string">
	select g_code from grade_benefit
	</select>
	
	<!-- drive등급에 따른 포인트 지급 -->
	<update id="updatePointByEvl">
	update (select m.m_id, m.m_point, de.g_code,gb.g_benefit from member m, driver_evl de , grade_benefit gb
where m.m_id = de.m_id and  de.g_code = gb.g_code
) b
	set b.m_point = b.m_point + b.g_benefit
	
	</update>
	
	<!-- 포인트 체크용 테이블 사용  -->
	<select id="selectCountIsUpdate" resultType="int">
	select count(*) from is_update_point
	where to_char(iup_date, 'yyyymmdd') = #{formattedToday}
	and iup_what = #{iup_what}
	</select>
	<!-- iup what 에 따른 인서트 -->
	<insert id="insertEvlUpdate">
	insert into is_update_point
	(iup_seq, iup_date, iup_what)
	values
	(seq_is_update_point.nextval, #{iup_date}, #{iup_what})
	</insert>
	
	<!-- 동승자등급에 따른 포인트 지급 -->
	<update id="updatePointPassengerByEvl">
	update (select m.m_id, m.m_point, pe.g_code, gb.g_benefit from member m, passenger_evl pe , grade_benefit gb
where m.m_id = pe.m_id and  pe.g_code = gb.g_code
) b
	set b.m_point = b.m_point + b.g_benefit

	</update>
	
	<select id="countvvipDriver" resultType="int">
	select count(*) from driver_evl 
	where g_code = '1001'
	</select>
	
	<select id="countvipDriver" resultType="int">
	select count(*) from driver_evl 
	where g_code = '1002'
	</select>
	
	<select id="countgoldDriver" resultType="int">
	select count(*) from driver_evl 
	where g_code = '1003'
	</select>
	
	<select id="countsilverDriver" resultType="int">
	select count(*) from driver_evl 
	where g_code = '1004'
	</select>
	
	<select id="countwhiteDriver" resultType="int">
	select count(*) from driver_evl 
	where g_code = '1005'
	</select>
	
	<select id="countvvipPassenger" resultType="int">
	select count(*) from passenger_evl 
	where g_code = '1006'
	</select>
	
	<select id="countvipPassenger" resultType="int">
	select count(*) from passenger_evl 
	where g_code = '1007'
	</select>
	
	<select id="countgoldPassenger" resultType="int">
	select count(*) from passenger_evl 
	where g_code = '1008'
	</select>
	
	<select id="countsilverPassenger" resultType="int">
	select count(*) from passenger_evl 
	where g_code = '1009'
	</select>
	
	<select id="countwhitePassenger" resultType="int">
	select count(*) from passenger_evl 
	where g_code = '1010'
	</select>
	
	<update id="driverEvlUpdate">
		update driver_evl set
		<choose>
			<when test="rating == 1">
				evl1 = evl1 + 1
			</when>
			<when test="rating == 2">
				evl2 = evl2 + 1
			</when>
			<when test="rating == 3">
				evl3 = evl3 + 1
			</when>
			<when test="rating == 4">
				evl4 = evl4 + 1
			</when>
			<when test="rating == 5">
				evl5 = evl5 + 1
			</when>
		</choose>
		, evl_count = evl_count + 1
		where m_id = #{m_id}
	</update>
	
	<select id="getDriverEvlInfo" resultType="Driver_EvlVo">
		select * from driver_evl
		where m_id = #{m_id}
	</select>
	
	<update id="driverGradeUpdate">
		update driver_evl set
		g_code = #{g_code}
		where m_id = #{m_id}
	</update>
	
</mapper>