<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.member">
	<insert id="insertMember">
		insert into member
			(m_id, m_name, m_pw, gender, m_company, m_dept, m_is_smoke, m_address, m_cellphone)
		values 
			(#{m_id}, #{m_name}, #{m_pw}, #{gender}, #{m_company}, #{m_dept}, #{m_is_smoke}, #{m_address}, #{m_cellphone})
	</insert>
	
	<select id="getMemberByIdAndPw" resultType="MemberVo">
		select * from member
		where m_id = #{m_id}
		and m_pw = #{m_pw}
	</select>
	
	<select id="admingetMemberList" resultType="MemberVo">
		select * from
			(select rownum rnum,a.* from
				(select * from member 
				<include refid="search"></include>
				order by m_id desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- Driver List Query -->
	<select id="getDriverList" resultType="map">
		select * from       
    		(select rownum rnum, a.* from 
        		(select d.driver_seq, m.m_id, m.m_address, m.m_company, m.m_name, m.m_dept, d.driver_depart_location, d.driver_depart_time, a.ad_approve
		            from driver d, member m, approve_driver a
		            where d.m_id = m.m_id
		            and a.m_id = m.m_id
		            and a.ad_approve = 'Y'
		            and m.m_company = #{m_company}
		            order by d.driver_depart_time, d.driver_seq asc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	 
	<select id="adminGetCount" resultType="int">
		select count(*) from member
		<include refid="search"></include>
	</select>
	
	<update id="adminupdateBlackScore">
		update member set 
		m_blackpoint = m_blackpoint + #{black_score}
		where m_id = #{black_m_id}
	</update>
	
	<sql id="search">
		<if test = "searchType != null and keyword != null">
			<choose>
				<when test='searchType == "i"'>
					where m_id like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "n"'>
					where m_name like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "g"'>
					where gender like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "c"'>
					where m_company like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "a"'>
					where m_address like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "t"'>
					where m_cellphone like '%' || #{keyword} || '%'
				</when>
				<when test='searchType == "w"'>
					where m_is_drop like '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>
	</sql>
	
	<select id="getDriverById" resultType="map">
		select m.m_id, m.m_name, m.gender, m.m_dept, d.driver_depart_location, d.driver_depart_time, d.driver_comment
		from member m, driver d
		where m.m_id = d.m_id
		and m.m_company = #{m_company}
		and m.m_id = #{m_id}
	</select>
	
	<select id="insertDriverLicense">
		insert into approve_driver (ad_seq, ad_license_img, m_id)
		values (seq_approve_driver.nextval, #{ad_license_img}, #{m_id})
	</select>
	
	<insert id="insertPassenger">
		insert into passenger (passenger_seq, m_id, passenger_depart_location, passenger_depart_time, driver_seq)
		values (seq_passenger.nextval, #{m_id}, #{boardLoct}, #{boardTime}, #{driver_seq})
	</insert>
	
	<insert id="insertCarInfo">
		insert into carinfo
		values (seq_hyundai.nextval, #{car_name}, #{car_brand}, #{car_brand_img}, #{car_img}, #{people_count});
	</insert>
	
	<select id="getMemberLocation" resultType="string">
		select m_address from member
		where m_id = #{m_id}
	</select>
	
	<select id="getDriverSeqFromPassenger" resultType="string">
		select driver_seq from passenger
		where is_approve = 'W'
		and is_deletion = 'N' 
		and m_id = #{m_id}
	</select>
	
	<select id="getDriverId" resultType="string">
		select m_id from driver
		where driver_seq = #{driver_seq}
	</select>
	
	<update id="adminUpdateMemberInfo">
		update member set
		m_address = #{m_address},
		m_cellphone = #{m_cellphone},
		m_is_drop = #{m_is_drop}
		where m_id = #{m_id}
	</update>
	
	<select id="getTop5EvlMembers" resultType="MemberVo">
		select m_id, m_evl from
			(select rownum rnum, a.* from
				(select * from member
				order by m_evl desc)a)
		<![CDATA[
		where rnum <= 5
		]]>
	</select>

	<select id="isApplication" resultType="_int">
		select count(*) from passenger
		where is_approve = 'W'
		and is_deletion = 'N'
		and m_id = #{m_id}

	</select>
	
	<select id="deletePassenger">
		update passenger set
		is_deletion = 'Y'
		where m_id = #{m_id}
		and driver_seq = #{driver_seq}
		and is_approve = 'W'
	</select>
	
	<select id="adminNotApprovedDriver" resultType="Map">
		select m.m_id, m.m_name, m.gender, ad.ad_license_img, ad.ad_regdate, ad.ad_detail
		from member m, approve_driver ad
		where m.m_id = ad.m_id and ad.ad_approve ='W'
		order by ad.ad_regdate desc
	</select>
	

	<update id="approveDriver">
		update approve_driver set 
		ad_approve = 'Y',
		ad_detail = '승인 완료'
		where m_id = #{m_id}
	</update>

	<select id="getTotalDriverCount" resultType="_int">
		select count(*) 
			from (select rownum rnum, a.* 
				from (select a.m_id
        			from driver d, member m, approve_driver a
        			where d.m_id = m.m_id
        		and a.m_id = m.m_id
        	and a.ad_approve = 'Y'
        and m.m_company = 'SAMSUNG')a)
	</select>
	
	<select id="getPassengerList" resultType="Map">
		select m.m_name, m.m_dept, p.passenger_depart_time, p.passenger_depart_location
			from member m, passenger p
			where m.m_id = p.m_id
			and p.is_deletion = 'N'
			and p.driver_seq = #{driver_seq}
		and m_company = #{m_company}
	</select>

	<select id="getCountByApplyDate" resultType="int">
	
	select count(*) from passenger 
	where
	is_approve ='Y'
	and
	is_deletion ='N'
	and
	to_char(apply_date,'yyyy/MM/dd') = #{str_date} 
	</select>


	<select id="getDriverSeqFromDriver" resultType="string"> 
		select driver_seq from driver
		where m_id = #{m_id}

	</select>
	
</mapper>