<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.message">
	<insert id="insertMessage">
		insert into message (message_seq,receiver_m_id,receiver_admin_code,sender_m_id,sender_admin_code,content)
		values(seq_message.nextval,#{receiver_m_id,jdbcType=VARCHAR},#{receiver_admin_code,jdbcType=VARCHAR},
		#{sender_m_id,jdbcType=VARCHAR},#{sender_admin_code,jdbcType=VARCHAR},#{content})
	</insert>
</mapper>