<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.message">
	<insert id="insertMessage">
		insert into message 
			(message_seq, receiver_m_id, receiver_admin_code, sender_m_id, sender_admin_code, content, blacklist_seq)
		values
			(seq_message.nextval, #{receiver_m_id,jdbcType=VARCHAR}, #{receiver_admin_code,jdbcType=VARCHAR},
				#{sender_m_id,jdbcType=VARCHAR}, #{sender_admin_code,jdbcType=VARCHAR}, #{content}, #{blacklist_seq,jdbcType=NUMERIC})
	</insert>
	<select id="adminCheckSendedMessage" resultType="int">
		select blacklist_seq from message
		where blacklist_seq is not null
	</select>
	
	<insert id="insertNoBlackMessage">
		insert into message (message_seq,receiver_m_id,receiver_admin_code,sender_m_id,sender_admin_code,content)
		values
		(seq_message.nextval,#{receiver_m_id,jdbcType=VARCHAR},
		#{receiver_admin_code,jdbcType=VARCHAR},
		#{sender_m_id,jdbcType=VARCHAR},
		#{sender_admin_code,jdbcType=VARCHAR},#{content})
	</insert>
	
	<select id="receivedMessageListById" resultType="MessageVo">
		select * from message
		where receiver_m_id = #{m_id}
		order by opendate nulls first, senddate desc
	</select>
	
	<select id="sendMessageListById" resultType="MessageVo">
		select * from message
		where sender_m_id = #{m_id}
		order by senddate desc
	</select>
</mapper>