<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.mylog">

	<insert id="insertPassenger">
		insert into passenger
			(passenger_seq, m_id, passenger_depart_location, passenger_depart_time, driver_seq)
		values
			(#{passenger_seq}, #{m_id}, #{passenger_depart_location}, #{passenger_depart_time}, #{driver_seq})
	</insert>
	
	<select id="passengerlogListById" resultType="Map">
		select * from 
		   (select rownum rnum, a.* from
		        (select d.driver_seq, d.m_id driver_id, d.driver_depart_location, d.driver_is_smoke, d.driver_comment, d.driver_depart_time,
		         p.passenger_seq, p.m_id passenger_id ,p.passenger_depart_location ,p.passenger_depart_time, p.evl_finish
		        from driver d, passenger p
		        where d.driver_seq = p.driver_seq
		        and p.m_id = #{m_id}
		        and p.drive_state = 'Y' 
		        order by p.passenger_depart_time desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="driverlogListById" resultType="driverVo">
		select * from
			(select rownum rnum, a.* from
				(select * from driver
				where m_id = #{m_id}
				order by driver_depart_time desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="driver_passengerlogListBySeq" resultType="passengerVo">
		select * from passenger
        where driver_seq = #{driver_seq}
        order by passenger_depart_time
	</select>
	
	<!-- 평점 주기 -->
	<update id="putStar">
		update driver_evl set
		evl${rating} = evl${rating} + 1
		where m_id = #{driver_m_id}
	</update>
	
	<!-- 승객테이블에 평점 준 로그 남기기 -->
	<update id="evl_finish">
		update passenger set
		evl_finish = 'Y'
		where m_id = #{m_id}
		and driver_seq = #{driver_seq}
	</update>
	
	<!-- 운전자 평점불러오기 -->
	<select id="driver_evlListById" resultType="Driver_EvlVo">
		select * from driver_evl
		where m_id = #{m_id}
	</select>
	
</mapper>