<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.mylog">

	<insert id="insertDriver">
		insert into driver 
			(driver_seq, m_id, driver_depart_location, driver_is_smoke, driver_depart_time)
		values
			(#{driver_seq}, #{m_id}, #{driver_depart_location}, #{driver_is_smoke}, #{driver_depart_time})
	</insert>
	
	<insert id="insertPassenger">
		insert into passenger
			(passenger_seq, m_id, passenger_depart_location, passenger_depart_time, driver_seq)
		values
			(#{passenger_seq}, #{m_id}, #{passenger_depart_location}, #{passenger_depart_time}, #{driver_seq})
	</insert>
	
	<select id="mylogListById" resultType="Map">
		select * from 
		    (select rownum rnum, a.* from
		        (select d.*, p.*
		        from driver d, passenger p
		        where d.driver_seq = p.driver_seq
		        and p.m_id = #{m_id}
		        order by passenger_depart_time desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
</mapper>