<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.notify">
	<insert id="insertNotification">
		insert into blacklist (blacklist_seq, m_id, black_m_id, black_content)
		values (seq_blacklist.nextval,#{m_id},#{black_m_id},#{black_content})
	</insert>
	<select id="notifyList" resultType="BlackListVo">
		select * from blacklist
		order by black_is_processed asc, black_regdate desc
	</select>
	
	<select id="yNotifyList" resultType="BlackListVo">
		select * from blacklist
		where black_is_processed = 'Y'
	</select>
	
	<select id="nNotifyList" resultType="BlackListVo">
		select * from blacklist
		where black_is_processed = 'N'
	</select>
	
	<select id="dayNotifyList" resultType="BlackListVo">
		select * from blacklist
		<![CDATA[
        where black_regdate < sysdate - 10
        ]]>
	</select>
	
	<select id="notifyCount" resultType="int">
		select count(*) from blacklist
		where black_is_processed = 'N'
	</select>
	
	<select id="totalNotifyCount" resultType="int">
		select count(*) from blacklist
		
	</select>
</mapper>