<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.team.mappers.point">

	<insert id="insertPointCode">
		insert into point_code (pc_code, pc_desc, pc_point) values (#{pc_code}, #{pc_desc}, #{pc_point})
	</insert>
	<insert id="insertPointHistory">
		insert into point_history (p_seq, m_id, pc_code) values (#{p_seq}, #{m_id}, #{pc_code})
	</insert>
	
	<select id="getPointHistoryById" resultType="PointHistoryVo">
		select * from point_history
		where m_id = #{m_id}
	</select>
	
	<select id="getPointListById" resultType="Map">
		select * from 
		    (select rownum rnum, a.* from
		        (select c.pc_desc, c.pc_point, h.p_seq, h.m_id, h.pc_code, h.p_date 
		        from point_code c, point_history h
		        where c.pc_code = h.pc_code
		        and h.m_id = #{m_id}
		        order by h.p_date desc, h.p_seq desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getCountPointById" resultType="int">
		select count(*) from point_history
		where m_id = #{m_id}
	</select>
</mapper>